.card {
    border: 1px solid gray;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .task {
    border: 1px solid gray;
    border-radius: 10px;
    width: 500px;
  }
  
  p {
    margin-top: auto;
    margin-bottom: auto;
  }
  input {
    width: 525px !important;
  }
  
  .delete {
    opacity: 0;
  }
  
  .task:hover .delete {
    opacity: 1;
  }
  